.button {
  width: 104px;
  height: 32px;
  background-color: #f5f5f5;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: #e5e5e5;
  }

  .button-title {
    color: #000000;
    font-size: 12px;
    text-align: center;
    font-family: var(--font-sora-regular);
  }
}
