.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "Inter-Regular", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}

.layout-content {
  display: block;
  width: 100%;
}
