@font-face {
  font-size: 14px;
  font-family: "Roboto-Bold";
  src: url("/fonts/roboto/Roboto-Bold.ttf");
}

@font-face {
  font-size: 14px;
  font-family: "Roboto-Black";
  src: url("/fonts/roboto/Roboto-Black.ttf");
}

@font-face {
  font-size: 14px;
  font-family: "Roboto-ExtraBold";
  src: url("/fonts/roboto/Roboto-ExtraBold.ttf");
}

@font-face {
  font-size: 14px;
  font-family: "Roboto-ExtraLight";
  src: url("/fonts/roboto/Roboto-ExtraLight.ttf");
}

@font-face {
  font-size: 14px;
  font-family: "Roboto-Light";
  src: url("/fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-size: 14px;
  font-family: "Roboto-Medium";
  src: url("/fonts/roboto/Roboto-Medium.ttf");
}

@font-face {
  font-size: 14px;
  font-family: "Roboto-Regular";
  src: url("/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-size: 14px;
  font-family: "Roboto-SemiBold";
  src: url("/fonts/roboto/Roboto-SemiBold.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  font-size: 14px;
  src: url("/fonts/roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Consolas";
  font-size: 14px;
  src: url("/fonts/consolas/Consolas.ttf");
}

@font-face {
  font-family: "Inter-Black";
  font-size: 14px;
  src: url("/fonts/inter/Inter-Black.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  font-size: 14px;
  src: url("/fonts/inter/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-ExtraBold";
  font-size: 14px;
  src: url("/fonts/inter/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "Inter-ExtraLight";
  font-size: 14px;
  src: url("/fonts/inter/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "Inter-Light";
  font-size: 14px;
  src: url("/fonts/inter/Inter-Light.ttf");
}
@font-face {
  font-family: "Inter-Medium";
  font-size: 14px;
  src: url("/fonts/inter/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter-Regular";
  font-size: 14px;

  src: url("/fonts/inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-SemiBold";
  font-size: 14px;
  src: url("/fonts/inter/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter-Thin";
  font-size: 14px;
  src: url("/fonts/inter/Inter-Thin.ttf");
}

@font-face {
  font-family: "Ethnocentric";
  font-size: 14px;
  src: url("/fonts/ethnocentric/EthNocentric.ttf");
}

@font-face {
  font-family: "Audiowide";
  font-size: 14px;
  src: url("/fonts/audiowide/Audiowide.ttf");
}

@font-face {
  font-family: "Sora-Bold";
  font-size: 14px;
  src: url("/fonts/sora/Sora-Bold.ttf");
}

@font-face {
  font-family: "Sora-ExtraBold";
  font-size: 14px;
  src: url("/fonts/sora/Sora-ExtraBold.ttf");
}

@font-face {
  font-family: "Sora-ExtraLight";
  font-size: 14px;
  src: url("/fonts/sora/Sora-ExtraLight.ttf");
}

@font-face {
  font-family: "Sora-Light";
  font-size: 14px;
  src: url("/fonts/sora/Sora-Light.ttf");
}

@font-face {
  font-family: "Sora-Medium";
  font-size: 14px;
  src: url("/fonts/sora/Sora-Medium.ttf");
}

@font-face {
  font-family: "Sora-Regular";
  font-size: 14px;
  src: url("/fonts/sora/Sora-Regular.ttf");
}

@font-face {
  font-family: "Sora-SemiBold";
  font-size: 14px;
  src: url("/fonts/sora/Sora-SemiBold.ttf");
}

@font-face {
  font-family: "Sora-Thin";
  font-size: 14px;
  src: url("/fonts/sora/Sora-Thin.ttf");
}
